# Data Pull Function

In [30]:
api_key = "" #insert your unique api key here

In [31]:
import requests
from IPython.display import display
import pickle
import io
import pandas as pd
from urllib.parse import quote


def get_data(library, 
             ticker, 
             api_key,
             csv=False, 
             save_csv=False,
             save_as_path=None,
             option_year=None):
    '''
    Function to get data from the API call
    '''
    ticker = quote(ticker)
    url = f"https://hdb.ar1th.com/historical-data?library={library}&ticker={ticker}&api_key={api_key}&option_year={option_year}"
    response = requests.get(url)
    data = io.StringIO(response.text)
    
    if library == 'Option':
        date_index_col_name = 'tx_date'
    else:
        date_index_col_name = 'Date'
        
    if csv:
        if save_csv:
            with open(f'{ticker}.csv', 'w') as f:
                f.write(response.text)
    

    df = pd.read_csv(data)
    if library != "maps":
        df.set_index(date_index_col_name, inplace=True)
        df.columns.name = ticker
        df.index.name = 'Date'
        df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
        pass
        
    df.columns.name = ticker

    return df
    
def get_bulk_data(library, 
                  tickers, 
                  api_key,
                  multi_index=True):
    '''
    Function to get bulk data from the API call
    (NOT FOR LIBRARY: maps)
    '''
    if multi_index:
        data = []
        for ticker in tickers:
            temp_df = get_data(library, ticker, api_key)
            temp_df.columns = pd.MultiIndex.from_product([[ticker], temp_df.columns])
            data.append(temp_df)
            
        
        data = pd.concat(data, axis=1)
        
    else:
        data = {}
        for ticker in tickers:
            data[ticker] = get_data(library, ticker, api_key)
    
    return data

# Ways to use function

In [32]:
libraries = ["maps", "US_Equity", "World_Indices","US_Indices", "Forex", "Cash_Commodities", "Futures_Continuous", "Futures_IndividualContracts"]

# Use Maps to get a dataframe or .csv of the tickers in the library and their attributes

In [33]:
for library in libraries[1:]:
    data = get_data(library="maps", 
                    ticker=library, 
                    api_key=api_key)
    display(library)
    display(data)
    display("---"*50)

'US_Equity'

US_Equity,symbol,assetid_norgate,securityname_norgate,id Class_TRBC_1,id Class_TRBC_2,id Class_TRBC_3,id Class_TRBC_4,id Class_TRBC_5,id Class_GICS_1,id Class_GICS_2,...,name Class_GICS_4,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date
0,A,131684,Agilent Technologies Inc Common,5.600000e+09,5.610000e+09,5.610100e+09,5.610101e+09,5.610101e+09,35000000.0,35200000.0,...,Life Sciences Tools & Services,NYSE,New York Stock Exchange,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the three months ended 31 January ...,"Agilent Technologies, Inc. is engaged in provi...",1999-11-18
1,AA,2214917,Alcoa Corp Common,5.100000e+09,5.120000e+09,5.120100e+09,5.120103e+09,5.120103e+09,15000000.0,15100000.0,...,Aluminum,NYSE,New York Stock Exchange,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the three months ended 31 March 20...,Alcoa Corporation is a vertically integrated a...,2016-10-18
2,AAA,2730624,Alternative Access First Priority CLO Bond ETF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NYSE Arca,NYSE Arca,Stock Market,Exchange Traded Product,Exchange Traded Fund (ETF),NaN,NaN,NaN,2020-09-09
3,AAAU,2425186,Goldman Sachs Physical Gold ETF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Cboe BZX,Cboe BZX,Stock Market,Exchange Traded Product,Exchange Traded Fund (ETF),NaN,NaN,Colorlight Cloud Tech Ltd is a China-based com...,2018-08-15
4,AACG,368605,ATA Creativity Global ADR,6.300000e+09,6.310000e+09,6.310100e+09,6.310101e+09,6.310101e+09,25000000.0,25300000.0,...,Education Services,Nasdaq,Nasdaq,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the fiscal year ended 31 December ...,ATA Creativity Global (ATA) is a China-based c...,2008-01-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12312,ZVSA,3011810,Zyversa Therapeutics Inc Common,5.600000e+09,5.620000e+09,5.620200e+09,5.620201e+09,5.620201e+09,35000000.0,35200000.0,...,Biotechnology,Nasdaq,Nasdaq,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the fiscal year ended 31 December ...,"ZyVersa Therapeutics, Inc. is a clinical-stage...",2022-02-10
12313,ZWS,610041,Zurn Elkay Water Solutions Corp Common,5.300000e+09,5.320000e+09,5.320300e+09,5.320302e+09,5.320302e+09,20000000.0,20100000.0,...,Building Products,NYSE,New York Stock Exchange,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the fiscal year ended 31 December ...,Zurn Elkay Water Solutions Corp is a pure-play...,2012-03-29
12314,ZYME,2268055,Zymeworks Inc Common,5.600000e+09,5.620000e+09,5.620200e+09,5.620201e+09,5.620201e+09,35000000.0,35200000.0,...,Biotechnology,Nasdaq,Nasdaq,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the fiscal year ended 31 December ...,Zymeworks Inc. is a global biotechnology compa...,2017-04-28
12315,ZYXI,126874,Zynex Inc Common,5.600000e+09,5.610000e+09,5.610100e+09,5.610101e+09,5.610101e+09,35000000.0,35100000.0,...,Health Care Equipment,Nasdaq,Nasdaq,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the fiscal year ended 31 December ...,"Zynex, Inc. develops, manufactures, markets an...",2002-12-05
12316,ZZZ,3460273,Cyber Hornet S&P 500 and Bitcoin 75/25 Strateg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Nasdaq,Nasdaq,Stock Market,Exchange Traded Product,Exchange Traded Fund (ETF),NaN,NaN,NaN,2023-12-28

'------------------------------------------------------------------------------------------------------------------------------------------------------'

'World_Indices'

World_Indices,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,$BVSP,470312,Bovespa Index,USD,BOVESPA,Bolsa de Valores de Sao Paulo,Stock Market,Index,NaN,NaN,NaN,NaN,1997-03-03,NaN,NaN
1,1,$CAC,635,CAC 40 Index,EUR,EURONEXT,Euronext,Stock Market,Index,NaN,NaN,NaN,NaN,1987-12-31,NaN,NaN
2,2,$DAX,637,DAX (Deutscher Aktienindex) Index,EUR,FWB,Frankfurt Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1987-12-30,NaN,NaN
3,3,$E3X,608254,FTSEurofirst 300 Index,EUR,EU IDX,Europe Non-Exchange Aligned Equity Index,Stock Market,NaN,NaN,NaN,NaN,NaN,1997-07-28,NaN,NaN
4,4,$FT100,638,FTSE 100 Index,GBP,LSE,London Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1984-04-02,NaN,NaN
5,5,$FTSEMIB,608256,FTSE MIB Index,EUR,Borsa Italiana,Borsa Italiana S.P.A.,Stock Market,Index,NaN,NaN,NaN,NaN,1997-12-31,NaN,NaN
6,6,$HS,639,Hang Seng Index,HKD,SEHK,Hong Kong Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1969-11-24,NaN,NaN
7,7,$IBEX,622822,IBEX 35 Index,EUR,Bolsa de Madrid,Bolsa de Madrid,Stock Market,Index,NaN,NaN,NaN,NaN,1991-09-06,NaN,NaN
8,8,$KO,640,KOSPI 200 Index,KRW,KSE,Korea Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1990-01-03,NaN,NaN
9,9,$MXX,608257,Mexico IPC Index,MXP,BMV,Bolsa Mexicana de Valores (Mexican Stock Excha...,Stock Market,Index,NaN,NaN,NaN,NaN,1987-01-02,NaN,NaN
10,10,$N225,641,Nikkei 225 Index,JPY,TSE,Tokyo Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1965-01-05,NaN,NaN
11,11,$NIF,406972,CNX Nifty Index,USD,NSE,National Stock Exchange of India,Stock Market,Index,NaN,NaN,NaN,NaN,1995-11-03,NaN,NaN
12,12,$OMNX40,608255,OMX Nordic 40 Index,EUR,EU IDX,Europe Non-Exchange Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,2001-12-28,NaN,NaN
13,13,$OOI,872609,S&P Global 100 Index,USD,Global IDX,Global Index,Stock Market,Index,NaN,NaN,NaN,NaN,2000-11-22,NaN,NaN
14,14,$RTS,942839,Russian Trading System Index,USD,RTS,RTS Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1995-09-01,NaN,NaN
15,15,$SEN,205837,BSE SENSEX 30 Index,INR,MSE,Mumbai Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1990-01-01,NaN,NaN
16,16,$SIMSCI,230425,MSCI Singapore Index,SGD,SGX,Singapore Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1987-12-31,NaN,NaN
17,17,$SMI,643,Swiss Market Index,CHF,SWX,Swiss Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1990-11-09,NaN,NaN
18,18,$SPTSX,540631,S&P/TSX Composite Index,CAD,TSX,Toronto Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1977-01-03,NaN,NaN
19,19,$SPTSX60,406973,S&P/TSX 60 Index,USD,TSX,Toronto Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1982-01-29,NaN,NaN
20,20,$SSEC,263597,Shanghai Stock Exchange Composite Index,USD,SSE,Shanghai Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1990-12-19,NaN,NaN
21,21,$STI,650,Straits Times Index,SGD,SGX,Singapore Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1985-01-04,NaN,NaN
22,22,$STOXX50,204859,Euro STOXX 50 Index,EUR,EU IDX,Europe Non-Exchange Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,1999-01-13,NaN,NaN
23,23,$TDX,206585,TecDAX Index,EUR,FWB,Frankfurt Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1999-07-09,NaN,NaN
24,24,$TWMSCI,234742,MSCI Taiwan Index,TWD,TSEC,Taiwan Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1987-12-31,NaN,NaN
25,25,$W1DOW,872447,Dow Jones Global Index,USD,Global IDX,Global Index,Stock Market,Index,NaN,NaN,NaN,NaN,1992-01-31,NaN,NaN
26,26,$W2DOW,872470,Dow Jones Global ex-U.S. Index,USD,Global IDX,Global Index,Stock Market,Index,NaN,NaN,NaN,NaN,1992-01-31,NaN,NaN
27,27,$XIN0,608253,FTSE China 50 Index,HKD,SEHK,Hong Kong Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,2001-03-16,NaN,NaN
28,28,$XIN9,611209,FTSE China A50 Index,CNY,CN IDX,China Non-Exchange-Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,2004-03-04,NaN,NaN
29,29,$XJO,14702,S&P/ASX 200 Index,AUD,ASX,Australian Securities Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1992-05-29,NaN,NaN
30,30,$ZADOW,540632,Dow Jones South Africa Index,ZAR,JSE,Johannesburg Securities Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1998-10-08,NaN,NaN

'------------------------------------------------------------------------------------------------------------------------------------------------------'

'US_Indices'

US_Indices,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,#AMEXAD,503361,AMEX Cumulative Advance-Decline Line,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
1,1,#AMEXADR,503362,AMEX Advance/Decline Ratio,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
2,2,#AMEXADV,503358,AMEX Advancing Issues,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
3,3,#AMEXADVR,503363,AMEX Advance/Decline Volume Ratio,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
4,4,#AMEXDEC,503359,AMEX Declining Issues,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,1554,$XMI,17,NYSE Arca Major Market Index,USD,US IDX,US Non-Exchange-Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,1983-04-15,NaN,NaN
1555,1555,$XNG,36,NYSE Arca Natural Gas Index,USD,US IDX,US Non-Exchange-Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,1997-03-05,NaN,NaN
1556,1556,$XOI,39,NYSE Arca Oil Index,USD,US IDX,US Non-Exchange-Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,1984-10-22,NaN,NaN
1557,1557,$XTC,38,NYSE Arca North American Telecommunications Index,USD,US IDX,US Non-Exchange-Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,1997-03-05,NaN,NaN
1558,1558,$YLDA,889455,ISE High Income Index,USD,US IDX,US Non-Exchange-Aligned Equity Index,Stock Market,Index,NaN,NaN,NaN,NaN,2003-12-31,NaN,NaN

'------------------------------------------------------------------------------------------------------------------------------------------------------'

'Forex'

Forex,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,$USDX,221460,US Dollar Index,USD,No Exchange,No Exchange,Foreign Exchange Market,Index,NaN,NaN,NaN,NaN,1971-01-04,NaN,NaN
1,1,AUDUSD,94374,Australian Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
2,2,BRLUSD,518938,Brazilian Real/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
3,3,CADUSD,94388,Canadian Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1990-01-02,NaN,NaN
4,4,CHFUSD,94425,Swiss Franc/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
5,5,CLPUSD,518941,Chilean Peso/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
6,6,CNYUSD,532965,Chinese Yuan/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1994-01-04,NaN,NaN
7,7,CZKUSD,626449,Czech Koruna/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-01,NaN,NaN
8,8,DKKUSD,518943,Danish Krone/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
9,9,EURUSD,94399,Euro/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1999-01-04,NaN,NaN
10,10,GBPUSD,94384,British Pound/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
11,11,HKDUSD,94403,Hong Kong Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
12,12,HUFUSD,518954,Hungarian Forint/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1993-06-15,NaN,NaN
13,13,ILSUSD,518957,Israeli Shekel/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
14,14,INRUSD,518959,Indian Rupee/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
15,15,JPYUSD,94407,Japanese Yen/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
16,16,KRWUSD,113804,South Korean Won/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
17,17,MXNUSD,94410,Mexican Peso/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1994-07-11,NaN,NaN
18,18,MYRUSD,518962,Malaysian Ringgit/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
19,19,NOKUSD,94414,Norwegian Krone/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
20,20,NZDUSD,113803,New Zealand Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
21,21,PLNUSD,518966,Polish Zloty/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1993-06-15,NaN,NaN
22,22,RUBUSD,518967,Russian Ruble/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1994-09-07,NaN,NaN
23,23,SEKUSD,94421,Swedish Kronor/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
24,24,SGDUSD,94417,Singapore Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
25,25,TRYUSD,518970,Turkish Lira/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
26,26,TWDUSD,518972,Taiwan Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
27,27,USDAUD,94426,U.S. Dollar/Australian Dollar Spot Rate,AUD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
28,28,USDBRL,518973,U.S. Dollar/Brazilian Real Spot Rate,BRL,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
29,29,USDCAD,94428,U.S. Dollar/Canadian Dollar Spot Rate,CAD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1990-01-02,NaN,NaN
30,30,USDCHF,94439,U.S. Dollar/Swiss Franc Spot Rate,CHF,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
31,31,USDCLP,518974,U.S. Dollar/Chilean Peso Spot Rate,CLP,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
32,32,USDCNY,532966,U.S. Dollar/Chinese Yuan Spot Rate,CNY,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1994-01-04,NaN,NaN
33,33,USDCZK,626440,U.S. Dollar/Czech Koruna Spot Rate,CZK,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-01,NaN,NaN
34,34,USDDKK,518975,U.S. Dollar/Danish Krone Spot Rate,DKK,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
35,35,USDEUR,94429,U.S. Dollar/Euro Spot Rate,EUR,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1999-01-04,NaN,NaN
36,36,USDGBP,94427,U.S. Dollar/British Pound Spot Rate,GBP,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
37,37,USDHKD,94430,U.S. Dollar/Hong Kong Dollar Spot Rate,HKD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
38,38,USDHUF,518976,U.S. Dollar/Hungarian Forint Spot Rate,HUF,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1993-06-15,NaN,NaN
39,39,USDILS,518978,U.S. Dollar/Israeli Shekel Spot Rate,ILS,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
40,40,USDINR,518979,U.S. Dollar/Indian Rupee Spot Rate,INR,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
41,41,USDJPY,94431,U.S. Dollar/Japanese Yen Spot Rate,JPY,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
42,42,USDKRW,94437,U.S. Dollar/South Korean Won Spot Rate,KRW,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
43,43,USDMXN,94432,U.S. Dollar/Mexican Peso Spot Rate,MXN,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1994-01-03,NaN,NaN
44,44,USDMYR,518980,U.S. Dollar/Malaysian Ringgit Spot Rate,MYR,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
45,45,USDNOK,94434,U.S. Dollar/Norwegian Krone Spot Rate,NOK,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
46,46,USDNZD,94433,U.S. Dollar/New Zealand Dollar Spot Rate,NZD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
47,47,USDPLN,518981,U.S. Dollar/Polish Zloty Spot Rate,PLN,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1993-06-15,NaN,NaN
48,48,USDRUB,518982,U.S. Dollar/Russian Ruble Spot Rate,RUB,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1994-09-07,NaN,NaN
49,49,USDSEK,94438,U.S. Dollar/Swedish Kronor Spot Rate,SEK,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
50,50,USDSGD,94435,U.S. Dollar/Singapore Dollar Spot Rate,SGD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
51,51,USDTRY,518984,U.S. Dollar/Turkish Lira Spot Rate,TRY,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
52,52,USDTWD,518985,U.S. Dollar/Taiwan Dollar Spot Rate,TWD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
53,53,USDZAR,94436,U.S. Dollar/South African Rand Spot Rate,ZAR,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1992-12-23,NaN,NaN
54,54,XAGUSD,527910,Silver/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Bullion Cross,NaN,NaN,NaN,NaN,1982-07-01,NaN,NaN
55,55,XAUUSD,527909,Gold/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Bullion Cross,NaN,NaN,NaN,NaN,1982-07-01,NaN,NaN
56,56,ZARUSD,94419,South African Rand/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1992-12-23,NaN,NaN

'------------------------------------------------------------------------------------------------------------------------------------------------------'

'Cash_Commodities'

Cash_Commodities,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,#GSR,576171,Gold/Silver Ratio,NaN,No Exchange,No Exchange,Commodities Market,Precious Metal,NaN,NaN,NaN,NaN,1968-04-01,NaN,NaN
1,1,$BCOM,406774,Bloomberg Commodity Index,USD,No Exchange,No Exchange,Commodities Market,Broad Index,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
2,2,$BCOMAG,406783,Bloomberg Agriculture Sub-Index,USD,No Exchange,No Exchange,Commodities Market,Agriculture,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
3,3,$BCOMEN,406775,Bloomberg Energy Sub-Index,USD,No Exchange,No Exchange,Commodities Market,Energy,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
4,4,$BCOMGR,406778,Bloomberg Grains Sub-Index,USD,No Exchange,No Exchange,Commodities Market,Agriculture,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,92,@ZN,11,Zinc - LME Official Cash,USD,LME,London Metal Exchange,Commodities Market,Industrial Metal,NaN,NaN,NaN,NaN,1993-07-01,NaN,NaN
93,93,@ZN03S,428476,Zinc - LME 03 Months Seller,USD,LME,London Metal Exchange,Commodities Market,Industrial Metal,NaN,NaN,NaN,NaN,1993-07-01,NaN,NaN
94,94,@ZNAUD,604330,Zinc - LME Official Cash (AUD),AUD,LME,London Metal Exchange,Commodities Market,Industrial Metal,NaN,NaN,NaN,NaN,1993-07-01,NaN,NaN
95,95,@ZNCAD,2124997,Zinc - LME Official Cash (CAD),CAD,LME,London Metal Exchange,Commodities Market,Industrial Metal,NaN,NaN,NaN,NaN,1993-07-01,NaN,NaN
96,96,@ZNWS,428471,Zinc - LME Warehouse Opening Stocks,NaN,LME,London Metal Exchange,Commodities Market,Industrial Metal,NaN,NaN,NaN,NaN,1998-01-06,NaN,NaN

'------------------------------------------------------------------------------------------------------------------------------------------------------'

'Futures_Continuous'

Futures_Continuous,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,...,last_quoted_date,second_last_quoted_date,Class,tick_size,point_value,margin,first_notice_date,lowest_ever_tick_size,session_symbol,market_symbol
0,0,&6A,471488,Australian Dollar Continuous Contract,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.000050,100000.0,1595.0,NaN,0.000050,6A,6A
1,1,&6A_CCB,686982,Australian Dollar Continuous Contract Backadju...,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.000050,100000.0,1595.0,NaN,0.000050,6A,6A
2,2,&6B,471490,British Pound Continuous Contract,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.000100,62500.0,2090.0,NaN,0.000100,6B,6B
3,3,&6B_CCB,686984,British Pound Continuous Contract Backadjusted,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.000100,62500.0,2090.0,NaN,0.000100,6B,6B
4,4,&6C,471493,Canadian Dollar Continuous Contract,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.000050,100000.0,1100.0,NaN,0.000050,6C,6C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,219,&ZS_CCB,687051,Soybean Continuous Contract Backadjusted,USD,CBOT,Chicago Board of Trade (CME Group),Futures Market,Agriculture,NaN,...,NaN,NaN,Agriculture & Livestock,0.250000,50.0,2640.0,NaN,0.250000,ZS,ZS
220,220,&ZT,471480,2-Year U.S. T-Note Continuous Contract,USD,CBOT,Chicago Board of Trade (CME Group),Futures Market,Interest Rate,NaN,...,NaN,NaN,Interest Rate,0.003906,2000.0,1320.0,NaN,0.003906,ZT,ZT
221,221,&ZT_CCB,686975,2-Year U.S. T-Note Continuous Contract Backadj...,USD,CBOT,Chicago Board of Trade (CME Group),Futures Market,Interest Rate,NaN,...,NaN,NaN,Interest Rate,0.003906,2000.0,1320.0,NaN,0.003906,ZT,ZT
222,222,&ZW,471568,Chicago SRW Wheat Continuous Contract,USD,CBOT,Chicago Board of Trade (CME Group),Futures Market,Agriculture,NaN,...,NaN,NaN,Agriculture & Livestock,0.250000,50.0,2200.0,NaN,0.250000,ZW,ZW
223,223,&ZW_CCB,687059,Chicago SRW Wheat Continuous Contract Backadju...,USD,CBOT,Chicago Board of Trade (CME Group),Futures Market,Agriculture,NaN,...,NaN,NaN,Agriculture & Livestock,0.250000,50.0,2200.0,NaN,0.250000,ZW,ZW

'------------------------------------------------------------------------------------------------------------------------------------------------------'

'Futures_IndividualContracts'

Empty DataFrame
Columns: [{"message": "Severe Error retreiving from Database: E_ASSERTION_FAILURE Empty symbol in reference key"}]
Index: []

'------------------------------------------------------------------------------------------------------------------------------------------------------'

# Data Snippet Check (Except for Individual Futures Map and Equities_options, all lib maps are available for data pull)

In [34]:
libs = libraries[1:]
libs.remove("Futures_IndividualContracts")

for lib in libs:
    display(f"Library Snipped (Displaying Head=3): {lib}")
    map_futures = get_data(library="maps",
                            ticker=lib,
                            api_key=api_key)
    map_futures = map_futures.head(3)
    display(map_futures)

    for (idx , row) in map_futures.iterrows():
        df = get_data(library=lib, 
                            ticker=row.symbol, 
                            api_key=api_key)
        
        display(df)
        
    display()
    display("---"*250)

'Library Snipped (Displaying Head=3): US_Equity'

US_Equity,symbol,assetid_norgate,securityname_norgate,id Class_TRBC_1,id Class_TRBC_2,id Class_TRBC_3,id Class_TRBC_4,id Class_TRBC_5,id Class_GICS_1,id Class_GICS_2,...,name Class_GICS_4,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date
0,A,131684,Agilent Technologies Inc Common,5.600000e+09,5.610000e+09,5.610100e+09,5.610101e+09,5.610101e+09,35000000.0,35200000.0,...,Life Sciences Tools & Services,NYSE,New York Stock Exchange,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the three months ended 31 January ...,"Agilent Technologies, Inc. is engaged in provi...",1999-11-18
1,AA,2214917,Alcoa Corp Common,5.100000e+09,5.120000e+09,5.120100e+09,5.120103e+09,5.120103e+09,15000000.0,15100000.0,...,Aluminum,NYSE,New York Stock Exchange,Stock Market,Equity,Operating/Holding Company,NaN,BRIEF: For the three months ended 31 March 20...,Alcoa Corporation is a vertically integrated a...,2016-10-18
2,AAA,2730624,Alternative Access First Priority CLO Bond ETF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NYSE Arca,NYSE Arca,Stock Market,Exchange Traded Product,Exchange Traded Fund (ETF),NaN,NaN,NaN,2020-09-09

A,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,Constituent_S&P 500,Constituent_S&P MidCap 400,Constituent_S&P SmallCap 600
Date,,,,,,,,,,,
1999-11-18,27.597343,30.326752,24.261400,25.929373,73752700.0,1.968556e+09,42.7500,0.0,0,0,0
1999-11-19,26.043097,26.081005,24.147675,24.716303,17965822.0,4.399704e+08,40.7500,0.0,0,0,0
1999-11-22,25.057478,26.460090,24.299309,26.460090,7757342.5,1.943159e+08,43.6250,0.0,0,0,0
1999-11-23,25.777739,26.460090,24.413034,24.413034,7047078.5,1.768620e+08,40.2500,0.0,0,0,0
1999-11-24,24.337217,25.436562,24.261400,24.905844,5711789.0,1.422569e+08,41.0625,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,133.280000,133.280000,130.380000,132.310000,1231836.0,1.625114e+08,132.3100,0.0,1,0,0
2024-02-13,130.340000,131.640000,128.260000,129.760000,1031115.0,1.336706e+08,129.7600,0.0,1,0,0
2024-02-14,131.000000,132.330000,130.209400,132.240000,1405219.0,1.848261e+08,132.2400,0.0,1,0,0
2024-02-15,132.990000,135.595000,132.680000,134.750000,1514490.0,2.037599e+08,134.7500,0.0,1,0,0
2024-02-16,133.590000,136.270000,133.590000,134.840000,1066838.0,1.441791e+08,134.8400,0.0,1,0,0

AA,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,Constituent_S&P 500,Constituent_S&P MidCap 400,Constituent_S&P SmallCap 600
Date,,,,,,,,,,,
2016-10-18,22.023520,22.023520,22.023520,22.023520,1.021635e+03,22500.0,22.50,0.0,0,0,0
2016-10-20,22.023520,23.736460,19.703707,20.555285,6.782635e+03,142189.0,21.00,0.0,0,0,0
2016-10-21,20.751049,20.751049,20.447613,20.555285,1.120019e+04,231354.0,21.00,0.0,0,0,0
2016-10-24,20.555285,20.555285,20.535707,20.555285,6.058296e+03,124520.0,21.00,0.0,0,0,0
2016-10-25,21.690720,22.023520,20.202908,20.799990,1.687302e+05,3569175.0,21.25,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,27.100000,28.095000,26.870000,27.900000,4.374586e+06,121476570.0,27.90,0.0,0,1,0
2024-02-13,26.900000,27.200000,25.575000,25.850000,7.264231e+06,189461310.0,25.85,0.0,0,1,0
2024-02-14,26.210000,26.990000,25.870000,26.790000,5.100599e+06,135514240.0,26.79,0.0,0,1,0
2024-02-15,27.040000,27.640000,26.920000,27.390000,4.385488e+06,119757150.0,27.39,0.0,0,1,0
2024-02-16,27.340000,28.030000,27.160000,27.400000,4.686221e+06,129509810.0,27.40,0.0,0,1,0

AAA,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,Constituent_S&P 500,Constituent_S&P MidCap 400,Constituent_S&P SmallCap 600
Date,,,,,,,,,,,
2020-09-09,22.530489,22.547543,22.503470,22.503470,19303.074,434875.00,25.0699,0.0,0,0,0
2020-09-10,22.494583,22.503560,22.482016,22.501764,26163.370,588649.00,25.0680,0.0,0,0,0
2020-09-11,22.476631,22.485607,22.458680,22.472143,37166.800,835391.00,25.0350,0.0,0,0,0
2020-09-14,22.449701,22.494583,22.449701,22.458680,14645.248,329249.00,25.0200,0.0,0,0,0
2020-09-15,22.458680,22.467655,22.449701,22.449701,13445.421,301929.00,25.0100,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,25.110000,25.190000,25.050000,25.120000,3870.000,97228.72,25.1200,0.0,0,0,0
2024-02-13,25.200000,25.200000,25.070000,25.135000,11079.000,278608.03,25.1350,0.0,0,0,0
2024-02-14,25.050000,25.192100,25.050000,25.135000,12152.000,304913.12,25.1350,0.0,0,0,0
2024-02-15,25.120000,25.130000,25.070000,25.130000,3510.000,88086.26,25.1300,0.0,0,0,0
2024-02-16,25.220000,25.220000,25.099900,25.124000,7167.000,180287.31,25.1240,0.0,0,0,0

'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

'Library Snipped (Displaying Head=3): World_Indices'

World_Indices,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,$BVSP,470312,Bovespa Index,USD,BOVESPA,Bolsa de Valores de Sao Paulo,Stock Market,Index,NaN,NaN,NaN,NaN,1997-03-03,NaN,NaN
1,1,$CAC,635,CAC 40 Index,EUR,EURONEXT,Euronext,Stock Market,Index,NaN,NaN,NaN,NaN,1987-12-31,NaN,NaN
2,2,$DAX,637,DAX (Deutscher Aktienindex) Index,EUR,FWB,Frankfurt Stock Exchange,Stock Market,Index,NaN,NaN,NaN,NaN,1987-12-30,NaN,NaN

%24BVSP          Open       High        Low      Close  Volume  Turnover
Date
1997-03-03    8829.00    8982.00    8707.00    8978.00     0.0       0.0
1997-03-04    8978.00    9157.00    8930.00    8961.00     0.0       0.0
1997-03-05    8961.00    9096.00    8926.00    9074.00     0.0       0.0
1997-03-06    9074.00    9189.00    9069.00    9126.00     0.0       0.0
1997-03-07    9126.00    9224.00    9063.00    9181.00     0.0       0.0
...               ...        ...        ...        ...     ...       ...
2024-05-13  127599.57  128669.39  127598.83  128154.79     0.0       0.0
2024-05-14  128154.79  128964.68  127961.78  128515.50     0.0       0.0
2024-05-15  128514.32  128645.75  127029.30  128027.60     0.0       0.0
2024-05-16  128029.21  128965.46  127922.46  128283.62     0.0       0.0
2024-05-17  128279.80  128463.71  127696.11  128150.71     0.0       0.0

[6741 rows x 6 columns]

%24CAC         Open     High      Low    Close  Volume  Turnover
Date
1987-12-31  1007.45  1007.45  1000.00  1000.00     0.0       0.0
1988-01-04   984.61   984.64   984.61   984.64     0.0       0.0
1988-01-05  1017.29  1021.17  1017.29  1021.17     0.0       0.0
1988-01-06  1032.20  1032.20  1028.05  1028.05     0.0       0.0
1988-01-07  1024.62  1024.62  1024.08  1024.08     0.0       0.0
...             ...      ...      ...      ...     ...       ...
2024-05-14  8213.81  8233.18  8187.69  8225.80     0.0       0.0
2024-05-15  8241.68  8253.10  8203.40  8239.99     0.0       0.0
2024-05-16  8239.77  8239.77  8183.19  8188.49     0.0       0.0
2024-05-17  8176.79  8192.92  8135.80  8167.50     0.0       0.0
2024-05-20  8178.63  8221.30  8175.46  8195.97     0.0       0.0

[9236 rows x 6 columns]

%24DAX          Open      High       Low     Close  Volume  Turnover
Date
1987-12-30   1005.19   1005.19   1005.19   1005.19     0.0       0.0
1988-01-04    956.49    956.49    956.49    956.49     0.0       0.0
1988-01-05    996.10    996.10    996.10    996.10     0.0       0.0
1988-01-06   1006.01   1006.01   1006.01   1006.01     0.0       0.0
1988-01-07   1014.47   1014.47   1014.47   1014.47     0.0       0.0
...              ...       ...       ...       ...     ...       ...
2024-05-14  18735.84  18748.76  18629.03  18716.42     0.0       0.0
2024-05-15  18719.81  18892.92  18719.81  18869.36     0.0       0.0
2024-05-16  18874.85  18890.78  18716.33  18738.81     0.0       0.0
2024-05-17  18713.25  18724.02  18627.91  18704.42     0.0       0.0
2024-05-20  18710.13  18804.00  18710.13  18768.96     0.0       0.0

[9207 rows x 6 columns]

'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

'Library Snipped (Displaying Head=3): US_Indices'

US_Indices,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,#AMEXAD,503361,AMEX Cumulative Advance-Decline Line,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
1,1,#AMEXADR,503362,AMEX Advance/Decline Ratio,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN
2,2,#AMEXADV,503358,AMEX Advancing Issues,NaN,NYSE American,NYSE American,Stock Market,NaN,NaN,NaN,NaN,NaN,2007-05-01,NaN,NaN

%23AMEXAD      Open     High      Low    Close       Volume  Turnover
Date
2007-05-01   -136.0   -136.0   -136.0   -136.0   -9894642.0       0.0
2007-05-02    283.0    283.0    283.0    283.0    5194605.0       0.0
2007-05-03    528.0    528.0    528.0    528.0   16903932.0       0.0
2007-05-04    819.0    819.0    819.0    819.0   30434082.0       0.0
2007-05-07    987.0    987.0    987.0    987.0   38606904.0       0.0
...             ...      ...      ...      ...          ...       ...
2024-05-13 -32550.0 -32550.0 -32550.0 -32550.0  947870700.0       0.0
2024-05-14 -32505.0 -32505.0 -32505.0 -32505.0  949788100.0       0.0
2024-05-15 -32431.0 -32431.0 -32431.0 -32431.0  957657100.0       0.0
2024-05-16 -32425.0 -32425.0 -32425.0 -32425.0  962206300.0       0.0
2024-05-17 -32375.0 -32375.0 -32375.0 -32375.0  974569200.0       0.0

[4293 rows x 6 columns]

%23AMEXADR      Open      High       Low     Close    Volume  Turnover
Date
2007-05-01  0.778862  0.778862  0.778862  0.778862  0.585326       0.0
2007-05-02  2.183616  2.183616  2.183616  2.183616  2.334227       0.0
2007-05-03  1.561927  1.561927  1.561927  1.561927  1.988519       0.0
2007-05-04  1.746154  1.746154  1.746154  1.746154  2.101654       0.0
2007-05-07  1.362851  1.362851  1.362851  1.362851  1.585490       0.0
...              ...       ...       ...       ...       ...       ...
2024-05-13  0.834437  0.834437  0.834437  0.834437  0.722097       0.0
2024-05-14  1.360000  1.360000  1.360000  1.360000  1.316360       0.0
2024-05-15  1.654867  1.654867  1.654867  1.654867  3.436006       0.0
2024-05-16  1.040816  1.040816  1.040816  1.040816  2.005477       0.0
2024-05-17  1.409836  1.409836  1.409836  1.409836  1.989904       0.0

[4293 rows x 6 columns]

%23AMEXADV   Open   High    Low  Close      Volume  Turnover
Date
2007-05-01  479.0  479.0  479.0  479.0  13966618.0       0.0
2007-05-02  773.0  773.0  773.0  773.0  26398600.0       0.0
2007-05-03  681.0  681.0  681.0  681.0  23554652.0       0.0
2007-05-04  681.0  681.0  681.0  681.0  25811820.0       0.0
2007-05-07  631.0  631.0  631.0  631.0  22131750.0       0.0
...           ...    ...    ...    ...         ...       ...
2024-05-13  126.0  126.0  126.0  126.0   4238453.0       0.0
2024-05-14  170.0  170.0  170.0  170.0   7978180.0       0.0
2024-05-15  187.0  187.0  187.0  187.0  11099340.0       0.0
2024-05-16  153.0  153.0  153.0  153.0   9073529.0       0.0
2024-05-17  172.0  172.0  172.0  172.0  24851952.0       0.0

[4293 rows x 6 columns]

'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

'Library Snipped (Displaying Head=3): Forex'

Forex,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,$USDX,221460,US Dollar Index,USD,No Exchange,No Exchange,Foreign Exchange Market,Index,NaN,NaN,NaN,NaN,1971-01-04,NaN,NaN
1,1,AUDUSD,94374,Australian Dollar/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
2,2,BRLUSD,518938,Brazilian Real/U.S. Dollar Spot Rate,USD,FX,Foreign Exchange,Foreign Exchange Market,Currency Cross,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN

%24USDX        Open     High      Low    Close
Date
1971-01-04  120.530  120.530  120.530  120.530
1971-01-05  120.520  120.520  120.520  120.520
1971-01-06  120.490  120.490  120.490  120.490
1971-01-07  120.550  120.550  120.550  120.550
1971-01-08  120.530  120.530  120.530  120.530
...             ...      ...      ...      ...
2024-05-14  105.204  105.458  104.958  105.013
2024-05-15  105.047  105.063  104.305  104.345
2024-05-16  104.206  104.626  104.080  104.462
2024-05-17  104.500  104.798  104.392  104.445
2024-05-20  104.497  104.649  104.394  104.565

[13612 rows x 4 columns]

AUDUSD        Open    High     Low   Close
Date
1991-01-02  0.7730  0.7750  0.7720  0.7750
1991-01-03  0.7740  0.7810  0.7740  0.7790
1991-01-04  0.7790  0.7820  0.7780  0.7780
1991-01-07  0.7780  0.7800  0.7740  0.7780
1991-01-08  0.7770  0.7800  0.7760  0.7770
...            ...     ...     ...     ...
2024-05-14  0.6608  0.6627  0.6578  0.6626
2024-05-15  0.6626  0.6694  0.6619  0.6693
2024-05-16  0.6692  0.6714  0.6652  0.6677
2024-05-17  0.6678  0.6700  0.6646  0.6693
2024-05-20  0.6692  0.6709  0.6660  0.6665

[8669 rows x 4 columns]

BRLUSD            Open        High         Low       Close
Date
1991-01-02  14627.6670  14627.6670  14627.6670  14627.6670
1991-01-03  14588.8500  14588.8500  14588.8500  14588.8500
1991-01-04  14473.6870  14473.6870  14473.6870  14473.6870
1991-01-07  14102.5625  14102.5625  14102.5625  14102.5625
1991-01-08  13546.7950  13546.7950  13546.7950  13546.7950
...                ...         ...         ...         ...
2024-05-14      0.1942      0.1952      0.1938      0.1950
2024-05-15      0.1949      0.1953      0.1934      0.1947
2024-05-16      0.1947      0.1959      0.1946      0.1950
2024-05-17      0.1950      0.1961      0.1946      0.1959
2024-05-20      0.1960      0.1965      0.1950      0.1959

[8674 rows x 4 columns]

'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

'Library Snipped (Displaying Head=3): Cash_Commodities'

Cash_Commodities,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,subtype3,financial_summary,business_summary,first_quoted_date,last_quoted_date,second_last_quoted_date
0,0,#GSR,576171,Gold/Silver Ratio,NaN,No Exchange,No Exchange,Commodities Market,Precious Metal,NaN,NaN,NaN,NaN,1968-04-01,NaN,NaN
1,1,$BCOM,406774,Bloomberg Commodity Index,USD,No Exchange,No Exchange,Commodities Market,Broad Index,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN
2,2,$BCOMAG,406783,Bloomberg Agriculture Sub-Index,USD,No Exchange,No Exchange,Commodities Market,Agriculture,NaN,NaN,NaN,NaN,1991-01-02,NaN,NaN

%23GSR      Open  High   Low  Close
Date
1968-04-01  16.7  16.7  16.7   16.7
1968-04-02  16.9  16.9  16.9   16.9
1968-04-03  17.1  17.1  17.1   17.1
1968-04-04  17.4  17.4  17.4   17.4
1968-04-05  17.6  17.6  17.6   17.6
...          ...   ...   ...    ...
2024-05-13  82.9  82.9  82.9   82.9
2024-05-14  82.4  82.4  82.4   82.4
2024-05-15  80.4  80.4  80.4   80.4
2024-05-16  80.4  80.4  80.4   80.4
2024-05-17  76.8  76.8  76.8   76.8

[14425 rows x 4 columns]

%24BCOM       Open    High     Low   Close
Date
1991-01-02  100.00  100.00  100.00  100.00
1991-01-03   99.09   99.09   99.09   99.09
1991-01-04   98.51   98.51   98.51   98.51
1991-01-07  101.74  101.74  101.74  101.74
1991-01-08  100.28  100.28  100.28  100.28
...            ...     ...     ...     ...
2024-05-13  102.33  103.37  102.31  103.27
2024-05-14  103.29  103.46  102.75  103.13
2024-05-15  103.45  104.15  102.91  103.90
2024-05-16  104.20  104.32  103.78  104.11
2024-05-17  104.44  105.76  104.30  105.74

[8375 rows x 4 columns]

%24BCOMAG     Open    High     Low   Close
Date
1991-01-02  100.00  100.00  100.00  100.00
1991-01-03  100.17  100.17  100.17  100.17
1991-01-04  100.50  100.50  100.50  100.50
1991-01-07  100.84  100.84  100.84  100.84
1991-01-08   99.28   99.28   99.28   99.28
...            ...     ...     ...     ...
2024-05-13   60.57   61.28   60.49   60.90
2024-05-14   60.94   61.03   60.22   60.49
2024-05-15   60.61   61.15   60.07   60.16
2024-05-16   60.25   60.38   59.88   59.98
2024-05-17   60.28   60.53   59.96   60.14

[8374 rows x 4 columns]

'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

'Library Snipped (Displaying Head=3): Futures_Continuous'

Futures_Continuous,index,symbol,assetid,securityname,currency,exchange_name,exchange_name_full,base_type,subtype1,subtype2,...,last_quoted_date,second_last_quoted_date,Class,tick_size,point_value,margin,first_notice_date,lowest_ever_tick_size,session_symbol,market_symbol
0,0,&6A,471488,Australian Dollar Continuous Contract,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.00005,100000.0,1595.0,NaN,0.00005,6A,6A
1,1,&6A_CCB,686982,Australian Dollar Continuous Contract Backadju...,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.00005,100000.0,1595.0,NaN,0.00005,6A,6A
2,2,&6B,471490,British Pound Continuous Contract,USD,CME,Chicago Mercantile Exchange (CME Group),Futures Market,Currency,NaN,...,NaN,NaN,Currency,0.00010,62500.0,2090.0,NaN,0.00010,6B,6B

%266A,Open,High,Low,Close,Volume,Delivery Month,Open Interest
Date,,,,,,,
1987-01-13,0.6460,0.64700,0.64200,0.64220,1854.0,198703.0,915.0
1987-01-14,0.6321,0.63330,0.62880,0.62990,1522.0,198703.0,989.0
1987-01-15,0.6400,0.64010,0.63870,0.63890,571.0,198703.0,862.0
1987-01-16,0.6408,0.64200,0.64080,0.64170,556.0,198703.0,1040.0
1987-01-19,0.6416,0.64500,0.64160,0.64350,516.0,198703.0,943.0
...,...,...,...,...,...,...,...
2024-05-13,0.6611,0.66360,0.65930,0.66160,75250.0,202406.0,202412.0
2024-05-14,0.6615,0.66345,0.65860,0.66305,98650.0,202406.0,201697.0
2024-05-15,0.6633,0.67050,0.66280,0.66965,145548.0,202406.0,199548.0
2024-05-16,0.6699,0.67205,0.66605,0.66860,113634.0,202406.0,198108.0
2024-05-17,0.6684,0.67070,0.66545,0.67040,84735.0,202406.0,0.0

%266A_CCB,Open,High,Low,Close,Volume,Delivery Month,Open Interest
Date,,,,,,,
1987-01-13,0.0437,0.04470,0.03970,0.03990,1854.0,198703.0,915.0
1987-01-14,0.0298,0.03100,0.02650,0.02760,1522.0,198703.0,989.0
1987-01-15,0.0377,0.03780,0.03640,0.03660,571.0,198703.0,862.0
1987-01-16,0.0385,0.03970,0.03850,0.03940,556.0,198703.0,1040.0
1987-01-19,0.0393,0.04270,0.03930,0.04120,516.0,198703.0,943.0
...,...,...,...,...,...,...,...
2024-05-13,0.6611,0.66360,0.65930,0.66160,75250.0,202406.0,202412.0
2024-05-14,0.6615,0.66345,0.65860,0.66305,98650.0,202406.0,201697.0
2024-05-15,0.6633,0.67050,0.66280,0.66965,145548.0,202406.0,199548.0
2024-05-16,0.6699,0.67205,0.66605,0.66860,113634.0,202406.0,198108.0
2024-05-17,0.6684,0.67070,0.66545,0.67040,84735.0,202406.0,0.0

%266B,Open,High,Low,Close,Volume,Delivery Month,Open Interest
Date,,,,,,,
1979-03-20,2.0230,2.0230,2.0230,2.0230,0.0,198003.0,211.0
1979-03-21,2.0230,2.0230,2.0230,2.0230,8.0,198003.0,210.0
1979-03-22,2.0230,2.0230,2.0150,2.0230,1.0,198003.0,210.0
1979-03-23,2.0200,2.0200,2.0200,2.0200,2.0,198003.0,211.0
1979-03-26,2.0205,2.0300,2.0205,2.0300,1.0,198003.0,209.0
...,...,...,...,...,...,...,...
2024-05-13,1.2521,1.2571,1.2519,1.2559,65295.0,202406.0,218092.0
2024-05-14,1.2561,1.2595,1.2511,1.2592,113174.0,202406.0,222483.0
2024-05-15,1.2594,1.2689,1.2586,1.2683,132560.0,202406.0,218335.0
2024-05-16,1.2687,1.2703,1.2646,1.2678,115293.0,202406.0,222625.0
2024-05-17,1.2671,1.2713,1.2647,1.2711,79290.0,202406.0,0.0

'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

In [35]:
data = get_data(library="US_Equity",
         ticker="AAPL",
         api_key=api_key,
         csv=False,
         save_csv=False,
         save_as_path=None,
         )
data

AAPL,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,Constituent_S&P 500,Constituent_S&P MidCap 400,Constituent_S&P SmallCap 600
Date,,,,,,,,,,,
1980-12-12,0.099189,0.099624,0.099189,0.099189,606916800.0,6.019962e+07,28.750,0.0,0,0,0
1980-12-15,0.094014,0.094449,0.094014,0.094014,227590180.0,2.139670e+07,27.250,0.0,0,0,0
1980-12-16,0.087114,0.087549,0.087114,0.087114,136809180.0,1.191800e+07,25.250,0.0,0,0,0
1980-12-17,0.089274,0.089702,0.089274,0.089274,111853096.0,9.985548e+06,25.876,0.0,0,0,0
1980-12-18,0.091861,0.092289,0.091861,0.091861,95041800.0,8.730665e+06,26.626,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,188.415000,188.670000,186.790000,187.150000,41781936.0,7.838709e+09,187.150,0.0,1,0,0
2024-02-13,185.770000,186.210000,183.512800,185.040000,56529530.0,1.045606e+10,185.040,0.0,1,0,0
2024-02-14,185.320000,185.530000,182.440000,184.150000,54630516.0,1.002769e+10,184.150,0.0,1,0,0
2024-02-15,183.550000,184.490000,181.350000,183.860000,65434496.0,1.195136e+10,183.860,0.0,1,0,0
2024-02-16,183.420000,184.850000,181.665000,182.310000,49752464.0,9.092806e+09,182.310,0.0,1,0,0

In [36]:

for ticker in ['AAPL', 'GOOGL']:
    data = get_data(library="US_Equity",
         ticker=ticker,
         api_key=api_key,
         csv=False,
         save_csv=False,
         save_as_path=None,
         )
    
    display(data)

AAPL,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,Constituent_S&P 500,Constituent_S&P MidCap 400,Constituent_S&P SmallCap 600
Date,,,,,,,,,,,
1980-12-12,0.099189,0.099624,0.099189,0.099189,606916800.0,6.019962e+07,28.750,0.0,0,0,0
1980-12-15,0.094014,0.094449,0.094014,0.094014,227590180.0,2.139670e+07,27.250,0.0,0,0,0
1980-12-16,0.087114,0.087549,0.087114,0.087114,136809180.0,1.191800e+07,25.250,0.0,0,0,0
1980-12-17,0.089274,0.089702,0.089274,0.089274,111853096.0,9.985548e+06,25.876,0.0,0,0,0
1980-12-18,0.091861,0.092289,0.091861,0.091861,95041800.0,8.730665e+06,26.626,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,188.415000,188.670000,186.790000,187.150000,41781936.0,7.838709e+09,187.150,0.0,1,0,0
2024-02-13,185.770000,186.210000,183.512800,185.040000,56529530.0,1.045606e+10,185.040,0.0,1,0,0
2024-02-14,185.320000,185.530000,182.440000,184.150000,54630516.0,1.002769e+10,184.150,0.0,1,0,0
2024-02-15,183.550000,184.490000,181.350000,183.860000,65434496.0,1.195136e+10,183.860,0.0,1,0,0
2024-02-16,183.420000,184.850000,181.665000,182.310000,49752464.0,9.092806e+09,182.310,0.0,1,0,0

GOOGL,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,Constituent_S&P 500,Constituent_S&P MidCap 400,Constituent_S&P SmallCap 600
Date,,,,,,,,,,,
2004-08-19,2.502673,2.604021,2.401325,2.510681,893422140.0,2.242790e+09,100.33,0.0,0,0,0
2004-08-20,2.539459,2.729643,2.514935,2.710374,457376740.0,1.237832e+09,108.31,0.0,0,0,0
2004-08-23,2.773685,2.839749,2.728892,2.737651,365442660.0,9.996097e+08,109.40,0.0,0,0,0
2004-08-24,2.785197,2.792704,2.591759,2.624291,305544700.0,8.002944e+08,104.87,0.0,0,0,0
2004-08-25,2.626543,2.702617,2.599517,2.652568,183978110.0,4.874834e+08,106.00,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2024-02-12,148.420000,149.335000,147.370000,147.530000,21564084.0,3.194907e+09,147.53,0.0,1,0,0
2024-02-13,144.920000,146.670000,143.690000,145.140000,27837730.0,4.037771e+09,145.14,0.0,1,0,0
2024-02-14,146.080000,146.520000,144.094000,145.940000,22704166.0,3.299653e+09,145.94,0.0,1,0,0
2024-02-15,143.140000,143.520000,140.460000,142.770000,37590696.0,5.338988e+09,142.77,0.0,1,0,0
2024-02-16,142.990000,143.190000,140.140000,140.520000,31468926.0,4.438239e+09,140.52,0.0,1,0,0

In [37]:
df = get_bulk_data(library="US_Equity",
                    tickers=['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA'],
                    api_key=api_key,
                    multi_index=True)
display(df)

                  AAPL                                                   \
                  Open        High         Low       Close       Volume
Date
1980-12-12    0.099189    0.099624    0.099189    0.099189  606916800.0
1980-12-15    0.094014    0.094449    0.094014    0.094014  227590180.0
1980-12-16    0.087114    0.087549    0.087114    0.087114  136809180.0
1980-12-17    0.089274    0.089702    0.089274    0.089274  111853096.0
1980-12-18    0.091861    0.092289    0.091861    0.091861   95041800.0
...                ...         ...         ...         ...          ...
2024-02-12  188.415000  188.670000  186.790000  187.150000   41781936.0
2024-02-13  185.770000  186.210000  183.512800  185.040000   56529530.0
2024-02-14  185.320000  185.530000  182.440000  184.150000   54630516.0
2024-02-15  183.550000  184.490000  181.350000  183.860000   65434496.0
2024-02-16  183.420000  184.850000  181.665000  182.310000   49752464.0

                                                                        \
                Turnover Unadjusted Close Dividend Constituent_S&P 500
Date
1980-12-12  6.019962e+07           28.750      0.0                   0
1980-12-15  2.139670e+07           27.250      0.0                   0
1980-12-16  1.191800e+07           25.250      0.0                   0
1980-12-17  9.985548e+06           25.876      0.0                   0
1980-12-18  8.730665e+06           26.626      0.0                   0
...                  ...              ...      ...                 ...
2024-02-12  7.838709e+09          187.150      0.0                   1
2024-02-13  1.045606e+10          185.040      0.0                   1
2024-02-14  1.002769e+10          184.150      0.0                   1
2024-02-15  1.195136e+10          183.860      0.0                   1
2024-02-16  9.092806e+09          182.310      0.0                   1

                                       ...    TSLA                    \
           Constituent_S&P MidCap 400  ...    High       Low   Close
Date                                   ...
1980-12-12                          0  ...     NaN       NaN     NaN
1980-12-15                          0  ...     NaN       NaN     NaN
1980-12-16                          0  ...     NaN       NaN     NaN
1980-12-17                          0  ...     NaN       NaN     NaN
1980-12-18                          0  ...     NaN       NaN     NaN
...                               ...  ...     ...       ...     ...
2024-02-12                          0  ...  194.73  187.2800  188.13
2024-02-13                          0  ...  187.26  182.1087  184.02
2024-02-14                          0  ...  188.89  183.3500  188.71
2024-02-15                          0  ...  200.88  188.8595  200.45
2024-02-16                          0  ...  203.17  197.4000  199.95

                                                                 \
                 Volume      Turnover Unadjusted Close Dividend
Date
1980-12-12          NaN           NaN              NaN      NaN
1980-12-15          NaN           NaN              NaN      NaN
1980-12-16          NaN           NaN              NaN      NaN
1980-12-17          NaN           NaN              NaN      NaN
1980-12-18          NaN           NaN              NaN      NaN
...                 ...           ...              ...      ...
2024-02-12   95498600.0  1.819555e+10           188.13      0.0
2024-02-13   86759480.0  1.598062e+10           184.02      0.0
2024-02-14   81202984.0  1.511240e+10           188.71      0.0
2024-02-15  120831760.0  2.367592e+10           200.45      0.0
2024-02-16  111346700.0  2.229546e+10           199.95      0.0

                                                           \
           Constituent_S&P 500 Constituent_S&P MidCap 400
Date
1980-12-12                 NaN                        NaN
1980-12-15                 NaN                        NaN
1980-12-16                 NaN                        NaN
1980-12-17                 NaN                        NaN
1980-12-18                 NaN                        NaN
...                        ...                        ...
2024-02-12                 1.0                        0.0
2024-02-13                 1.0                        0.0
2024-02-14                 1.0                        0.0
2024-02-15                 1.0                        0.0
2024-02-16                 1.0                        0.0


           Constituent_S&P SmallCap 600
Date
1980-12-12                          NaN
1980-12-15                          NaN
1980-12-16                          NaN
1980-12-17                          NaN
1980-12-18                          NaN
...                                 ...
2024-02-12                          0.0
2024-02-13                          0.0
2024-02-14                          0.0
2024-02-15                          0.0
2024-02-16                          0.0

[10885 rows x 55 columns]

In [38]:
dict_data = get_bulk_data(library="US_Equity",
                    tickers=['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA'],
                    api_key=api_key,
                    multi_index=False)
display(dict_data)

{'AAPL': AAPL              Open        High         Low       Close       Volume  \
 Date
 1980-12-12    0.099189    0.099624    0.099189    0.099189  606916800.0
 1980-12-15    0.094014    0.094449    0.094014    0.094014  227590180.0
 1980-12-16    0.087114    0.087549    0.087114    0.087114  136809180.0
 1980-12-17    0.089274    0.089702    0.089274    0.089274  111853096.0
 1980-12-18    0.091861    0.092289    0.091861    0.091861   95041800.0
 ...                ...         ...         ...         ...          ...
 2024-02-12  188.415000  188.670000  186.790000  187.150000   41781936.0
 2024-02-13  185.770000  186.210000  183.512800  185.040000   56529530.0
 2024-02-14  185.320000  185.530000  182.440000  184.150000   54630516.0
 2024-02-15  183.550000  184.490000  181.350000  183.860000   65434496.0
 2024-02-16  183.420000  184.850000  181.665000  182.310000   49752464.0

 AAPL            Turnover  Unadjusted Close  Dividend  Constituent_S&P 500  \
 Date
 1980-12-12  6.019962e+07            28.750       0.0                    0
 1980-12-15  2.139670e+07            27.250       0.0                    0
 1980-12-16  1.191800e+07            25.250       0.0                    0
 1980-12-17  9.985548e+06            25.876       0.0                    0
 1980-12-18  8.730665e+06            26.626       0.0                    0
 ...                  ...               ...       ...                  ...
 2024-02-12  7.838709e+09           187.150       0.0                    1
 2024-02-13  1.045606e+10           185.040       0.0                    1
 2024-02-14  1.002769e+10           184.150       0.0                    1
 2024-02-15  1.195136e+10           183.860       0.0                    1
 2024-02-16  9.092806e+09           182.310       0.0                    1

 AAPL        Constituent_S&P MidCap 400  Constituent_S&P SmallCap 600
 Date
 1980-12-12                           0                             0
 1980-12-15                           0                             0
 1980-12-16                           0                             0
 1980-12-17                           0                             0
 1980-12-18                           0                             0
 ...                                ...                           ...
 2024-02-12                           0                             0
 2024-02-13                           0                             0
 2024-02-14                           0                             0
 2024-02-15                           0                             0
 2024-02-16                           0                             0

 [10885 rows x 11 columns],
 'MSFT': MSFT              Open        High         Low       Close        Volume  \
 Date
 1986-03-13    0.060167    0.062849    0.054791    0.060167  1.667355e+09
 1986-03-14    0.062307    0.063390    0.060167    0.062307  4.979820e+08
 1986-03-17    0.063390    0.063932    0.062307    0.063390  2.152027e+08
 1986-03-18    0.061779    0.063932    0.061237    0.061779  1.074152e+08
 1986-03-19    0.060709    0.062307    0.060167    0.060709  7.739663e+07
 ...                ...         ...         ...         ...           ...
 2024-02-12  419.778720  419.963380  413.984440  414.493500  2.124213e+07
 2024-02-13  404.192540  409.314100  402.645420  405.570000  2.787639e+07
 2024-02-14  408.070000  409.840000  404.570000  409.490000  2.040119e+07
 2024-02-15  408.140000  409.130000  404.290000  406.560000  2.182552e+07
 2024-02-16  407.960000  408.290000  403.440000  404.060000  2.229650e+07

 MSFT            Turnover  Unadjusted Close  Dividend  Constituent_S&P 500  \
 Date
 1986-03-13  1.003200e+08            28.002       0.0                    0
 1986-03-14  3.102786e+07            28.998       0.0                    0
 1986-03-17  1.364172e+07            29.502       0.0                    0
 1986-03-18  6.635962e+06            28.752       0.0                    0
 1986-03-19  4.698640e+06            28.254       0.0                    0
 ...                  ...               ...       ...                  ...
 2024-02-12  8.841056e+09           415.260       0.0                    1
 2024-02-13  1.131621e+10           406.320       0.0                    1
 2024-02-14  8.308632e+09           409.490       0.0                    1
 2024-02-15  8.861646e+09           406.560       0.0                    1
 2024-02-16  9.035733e+09           404.060       0.0                    1

 MSFT        Constituent_S&P MidCap 400  Constituent_S&P SmallCap 600
 Date
 1986-03-13                           0                             0
 1986-03-14                           0                             0
 1986-03-17                           0                             0
 1986-03-18                           0                             0
 1986-03-19                           0                             0
 ...                                ...                           ...
 2024-02-12                           0                             0
 2024-02-13                           0                             0
 2024-02-14                           0                             0
 2024-02-15                           0                             0
 2024-02-16                           0                             0

 [9560 rows x 11 columns],
 'GOOGL': GOOGL             Open        High         Low       Close       Volume  \
 Date
 2004-08-19    2.502673    2.604021    2.401325    2.510681  893422140.0
 2004-08-20    2.539459    2.729643    2.514935    2.710374  457376740.0
 2004-08-23    2.773685    2.839749    2.728892    2.737651  365442660.0
 2004-08-24    2.785197    2.792704    2.591759    2.624291  305544700.0
 2004-08-25    2.626543    2.702617    2.599517    2.652568  183978110.0
 ...                ...         ...         ...         ...          ...
 2024-02-12  148.420000  149.335000  147.370000  147.530000   21564084.0
 2024-02-13  144.920000  146.670000  143.690000  145.140000   27837730.0
 2024-02-14  146.080000  146.520000  144.094000  145.940000   22704166.0
 2024-02-15  143.140000  143.520000  140.460000  142.770000   37590696.0
 2024-02-16  142.990000  143.190000  140.140000  140.520000   31468926.0

 GOOGL           Turnover  Unadjusted Close  Dividend  Constituent_S&P 500  \
 Date
 2004-08-19  2.242790e+09            100.33       0.0                    0
 2004-08-20  1.237832e+09            108.31       0.0                    0
 2004-08-23  9.996097e+08            109.40       0.0                    0
 2004-08-24  8.002944e+08            104.87       0.0                    0
 2004-08-25  4.874834e+08            106.00       0.0                    0
 ...                  ...               ...       ...                  ...
 2024-02-12  3.194907e+09            147.53       0.0                    1
 2024-02-13  4.037771e+09            145.14       0.0                    1
 2024-02-14  3.299653e+09            145.94       0.0                    1
 2024-02-15  5.338988e+09            142.77       0.0                    1
 2024-02-16  4.438239e+09            140.52       0.0                    1

 GOOGL       Constituent_S&P MidCap 400  Constituent_S&P SmallCap 600
 Date
 2004-08-19                           0                             0
 2004-08-20                           0                             0
 2004-08-23                           0                             0
 2004-08-24                           0                             0
 2004-08-25                           0                             0
 ...                                ...                           ...
 2024-02-12                           0                             0
 2024-02-13                           0                             0
 2024-02-14                           0                             0
 2024-02-15                           0                             0
 2024-02-16                           0                             0

 [4908 rows x 11 columns],
 'AMZN': AMZN              Open        High         Low       Close        Volume  \
 Date
 1997-05-15    0.121875    0.125000    0.096354    0.097917  1.447157e+09
 1997-05-16    0.098437    0.098958    0.085417    0.086458  2.957352e+08
 1997-05-19    0.088021    0.088542    0.081250    0.085417  1.228968e+08
 1997-05-20    0.086458    0.087500    0.081771    0.081771  1.095257e+08
 1997-05-21    0.081771    0.082292    0.068750    0.071354  3.785784e+08
 ...                ...         ...         ...         ...           ...
 2024-02-12  174.800000  175.390000  171.540000  172.340000  5.105044e+07
 2024-02-13  167.730000  170.950000  165.750000  168.640000  5.634512e+07
 2024-02-14  169.210000  171.210000  168.280000  170.980000  4.281554e+07
 2024-02-15  170.580000  171.170000  167.590000  169.800000  4.985520e+07
 2024-02-16  168.740000  170.420000  167.170000  169.510000  4.810774e+07

 AMZN            Turnover  Unadjusted Close  Dividend  Constituent_S&P 500  \
 Date
 1997-05-15  1.417008e+08            23.500       0.0                    0
 1997-05-16  2.541875e+07            20.750       0.0                    0
 1997-05-19  1.043245e+07            20.500       0.0                    0
 1997-05-20  8.956006e+06            19.625       0.0                    0
 1997-05-21  2.690509e+07            17.125       0.0                    0
 ...                  ...               ...       ...                  ...
 2024-02-12  8.849165e+09           172.340       0.0                    1
 2024-02-13  9.516015e+09           168.640       0.0                    1
 2024-02-14  7.277140e+09           170.980       0.0                    1
 2024-02-15  8.445236e+09           169.800       0.0                    1
 2024-02-16  8.137684e+09           169.510       0.0                    1

 AMZN        Constituent_S&P MidCap 400  Constituent_S&P SmallCap 600
 Date
 1997-05-15                           0                             0
 1997-05-16                           0                             0
 1997-05-19                           0                             0
 1997-05-20                           0                             0
 1997-05-21                           0                             0
 ...                                ...                           ...
 2024-02-12                           0                             0
 2024-02-13                           0                             0
 2024-02-14                           0                             0
 2024-02-15                           0                             0
 2024-02-16                           0                             0

 [6734 rows x 11 columns],
 'TSLA': TSLA              Open        High         Low       Close       Volume  \
 Date
 2010-06-29    1.266665    1.666665    1.169332    1.592665  281749400.0
 2010-06-30    1.719332    2.027945    1.553332    1.588665  257916160.0
 2010-07-01    1.666665    1.727998    1.351332    1.463999  123448060.0
 2010-07-02    1.533332    1.539999    1.247332    1.279999   77127176.0
 2010-07-06    1.333332    1.333332    1.055332    1.073999  103189540.0
 ...                ...         ...         ...         ...          ...
 2024-02-12  192.110000  194.730000  187.280000  188.130000   95498600.0
 2024-02-13  183.990000  187.260000  182.108700  184.020000   86759480.0
 2024-02-14  185.300000  188.890000  183.350000  188.710000   81202984.0
 2024-02-15  189.160000  200.880000  188.859500  200.450000  120831760.0
 2024-02-16  202.060000  203.170000  197.400000  199.950000  111346700.0

 TSLA            Turnover  Unadjusted Close  Dividend  Constituent_S&P 500  \
 Date
 2010-06-29  4.487325e+08             23.89       0.0                    0
 2010-06-30  4.097424e+08             23.83       0.0                    0
 2010-07-01  1.807278e+08             21.96       0.0                    0
 2010-07-02  9.872270e+07             19.20       0.0                    0
 2010-07-06  1.108255e+08             16.11       0.0                    0
 ...                  ...               ...       ...                  ...
 2024-02-12  1.819555e+10            188.13       0.0                    1
 2024-02-13  1.598062e+10            184.02       0.0                    1
 2024-02-14  1.511240e+10            188.71       0.0                    1
 2024-02-15  2.367592e+10            200.45       0.0                    1
 2024-02-16  2.229546e+10            199.95       0.0                    1

 TSLA        Constituent_S&P MidCap 400  Constituent_S&P SmallCap 600
 Date
 2010-06-29                           0                             0
 2010-06-30                           0                             0
 2010-07-01                           0                             0
 2010-07-02                           0                             0
 2010-07-06                           0                             0
 ...                                ...                           ...
 2024-02-12                           0                             0
 2024-02-13                           0                             0
 2024-02-14                           0                             0
 2024-02-15                           0                             0
 2024-02-16                           0                             0

 [3433 rows x 11 columns]}